

main {
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(40, 40, 40);
  height: 2vw;
  padding: 1em;
  color: white;
  /* border: 2px solid rgba(255, 0, 0, 0.249); */
  border-bottom: 2px solid rgba(255, 0, 0, 0.249);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.joke-container {
  display: flex;
  height: 10vw;
  width: 30vw;
  justify-content: center;
  align-items: center;
  margin: 20vh auto;
  /* border: 2px solid rgba(255, 0, 0, 0.249); */
  /* background: rgba(0, 0, 33, 0.66); */
  padding: 0 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.3em;


}

button {
  padding: 1em;
  border-radius: 5px;
  font-size: 1.3em;
  color: azure;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(0, 0, 0);
  height: 4vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
