body {
  background: rgb(15, 5, 24);
  color: rgb(104, 171, 148);
  text-align: center;
}

main {
  /* display: flex; */
  height: 60vw;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #05021E;
  height: 7vw;
  padding: 1em;
  color: rgb(104, 171, 148);
  /* border: 2px solid rgba(255, 0, 0, 0.249); */
  border-bottom: 2px solid rgba(255, 0, 0, 0.249);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.joke-container {
  display: flex;
  height: 30vw;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 20vh auto;
  border: 2px solid rgba(255, 0, 0, 0.249);
  background: rgba(0, 0, 33, 0.66);
  padding: 0 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
